.updateBody {
	margin-left: 10ex;
	display: flex;
	flex-direction: column;
}

.updateBody textarea {
	display: block;
	vertical-align: top;
	max-width: 400px;
}

.updateBody input#update {
	display: block;
	width: 160px;
	height: 50px;
	background-color: #6677AA;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-bottom: 2px;
}

.updateBody input#update:hover {
	background-color: #556699;
}

.updateBody input:not(.dropdown-input) {
	display: block;
	width: 152px;
	height: 20px;
	padding: 2px;
}

.updateBody button {
	display: block;
	width: 160px;
	height: 50px;
}

.updateBody a {
	display: block;
	width: 10ex;
	text-align: center;
}

.updateBody input#approved {
	display: inline-block;
	width: auto;
	min-width: 20px;
	min-height: 20px;
	vertical-align: sub;
}